.layer {
  padding: 5% 5% 5% 5%;
  position: absolute;
  img {
    width: 100%;
  }
  p {
    margin-top: 1rem;
    color: #7d92b2;
    width: 100%;
    font-size: 0.5rem;
  }
  button {
    padding: 5px 10px 5px 10px;
    background-color: #aa9c30;
    border: 1px solid #7089b1;
    color: #7089b1;
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 576px) {
  .layer {
    padding: 10%;

    p {
      margin-top: 1rem;
      font-size: 1rem;
    }
    button {
      margin-top: 1rem;
      padding: 5px 25px 5px 25px;
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .layer {
    padding: 10%;
  }
}

@media screen and (min-width: 920px) {
  .layer {
    padding: 10%;
  }
}
