@import "./../../styles/constantes.scss";

.title {
  font-family: Didotlh-roman;
  padding: 12vw;
  text-shadow: 2px 2px 2px $color-shadow;
  color: $color-text-third;
  text-align: center;
  font-size: 8vw;
}

@media screen and (min-width: 576px) {
  .title {
    padding: 12vw;
    font-size: 6vw;
  }
}

@media screen and (min-width: 768px) {
  .title {
    padding:8vw;
  }
}

@media screen and (min-width: 920px) {

}

@media screen and (min-width: 1040px) {
 
}
