.article1 {
  margin-top: 60px;
  display: flex;
  position: relative;
}

.container1 {
  display: flex;
  width: 100%;
}

.container2 {
  position: absolute;
  width: 47%;
  right: 2%;
  bottom: 5%;
}

.image1 {
  width: 100%;
}

.image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 16vw;
}

.image1 img {
  width: 100%;
}

.image2 img {
  width: 180%;
}

.text {
  width: 65%;
  text-align: center;

  h2 {
    font-size: 0.6rem;
    margin: 0;
  }
  p {
    margin-top: 0.2rem;
    font-size: 0.3rem;
    color: gray;
  }
  span {
    color: gray;
  }
}

@media screen and (min-width: 576px) {
  .image2 {
    height: 14vw;
  }
  .text {
    width: 65%;
    text-align: center;

    h2 {
      font-size: 0.6rem;
      margin-top: 0.5rem;
    }
    p {
      font-size: 0.4rem;
       margin-top: 0.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .image2 {
    height: 12vw;
  }
  .text {
    width: 65%;
    text-align: center;
    padding:2%;

    h2 {
      font-size: 1rem;
      margin-top: 1rem;
    }
    p {
      font-size: 0.8rem;
      margin-top: 1rem;

    }
  }
}

@media screen and (min-width: 960px) {
  .image2 {
    height: 10vw;
  }
  .text {
    width: 65%;
    text-align: center;

    h2 {
      font-size: 1.2rem;
      margin-top: 2rem;
    }
    p {
      font-size: 1rem;
      margin-top: 2rem;

    }
  }
}
