.article1 {
  margin-top: 60px;
  display: flex;
  position: relative;
}

.container1 {
  width: 60%;
}

.container2 {
  position: absolute;
  width: 47%;
  right: 2%;
  bottom: 5%;
}

.image1 {
  width: 100%;
}

.image2 {
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 16vw;
}

.image1 img {
  width: 100%;
}

.image2 img {
  position: absolute;
    width: 180%;
    top: -162%;
    right: -34%;
}

@media screen and (min-width: 768px) {
  .image2 {
    height: 10vw;
  }
}
