@import "./../../styles/constantes.scss";

.button {
  font-family: Brandon_medium ;
  background-color: $color-primary;
  border: unset;
  color: $color-text-light;
  padding: 10px;
  font-weight: 500;
  font-size: 1em;
}

.linkNavPc {
  font-family:Brandon_medium;
  font-size: 2em;
  height: 100%;
  padding: 1em;
  margin:1em ;
  color: $color-primary;
  text-shadow: 2px 2 2px 2px $color-text-dark;
  text-decoration: none;
  font-weight: bolder;
}

.linkNavPc:hover {
  color: $color-text-third;
  font-size: 2em;
  text-decoration: none;
}


@media screen and (min-width: 576px) {
  .button {
    font-size: 1.8em;
  }
  .logoYR{
  width: 25rem;
}
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 960px) {

}

@media screen and (min-width: 1140px) {

}
