<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <style type="text/css">
        .toto{margin:100px;
            display: flex;
            position: relative;
            background-color: red;
            width: 200px;
            height: 200px;
            overflow: hidden;
            z-index:0;

        }
        .enfant {
            position: absolute;
            top:12%;
            background-color: rgba(0, 128, 0, 0.5);
            width: 400px;
            height: 400px;
        }
    </style>
    <div class="toto">
        <div class="enfant">
        </div>
    </div>
</body>
</html>