.navigation {
   margin: 10px;
}

.button {
    background-color: #93a446;
    border: unset;
    color: white;
    padding: 10px;
    font-weight: 600;
    font-size: 0.5rem;;
}

.burger{    
    width: 25px;
}

.logo{
    height: 45px;
}