$color-primary:#8b9620;
$color-secondary: #b3a53b;
$color-text-primary : black;
$color-text-secondary : gray;
$color-text-third: #7D92B2;
$color-text-light: white;
$color-text-dark:black;
$color-alpha: rgba(0, 0, 0, 0);
$color-bg-alpha-primary: #8a962038;
$color-dark-primary: #4e5513;

$color-shadow: rgba(0, 0, 0, 0.5)