@import "./fonts.scss";
@import "./constantes.scss";

$base-font-seize: 10px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Didotlh-roman, Avant-garde demi, Brandon_light, Brandon_medium, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: $base-font-seize;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-size: 100%;
  font: inherit;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

p,
span {
  font-size: 1rem;
}

header {
  .carousel-indicators {
    display: none;
  }
}

header {
  display: flex !important;
  position: relative;
}

